extends ../../layouts/default.pug
block main
    h1 Trang chủ
    .iner-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus repellat magni tenetur amet doloremque iure totam. Enim nam, assumenda nihil sint ea architecto distinctio, totam velit esse aliquam quia at!
    